<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     {%load static%}
     <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
     <h1> {{id.first_name}} {{id.last_name}}</h1>
     <h3> ID: {{id.id}}</h3>
     <h3>Notes: {{id.notes}}</h3>
     <h3>Books:</h3>
     <ul>
          {%for i in id.book_authors.all%}
          <li>{{i.title}}</li>
          {%endfor%}
     </ul>


               <select name="newbooktoadd">
                    <option disabled selected>Select a book</option>
                    {%for x in remaining%}
                    <option value="{{x.id}}"> {{x.title}}</option>
                    {%endfor%}
               </select>
               <button>ADD</button>
          
     
</body>

</html>