<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Dojos & Ninjas</title>
     {%load static%}
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
     <div>
          <div class="header">
               <h1>Add a Dojo</h1>
               <h1>Add a Ninja</h1>
          </div>
          <div class="content">

               <form action="addDojo" method="post">
                    {% csrf_token %}
                    <div class="card">
                         <div class="label">
                              <label for="name">Name</label>
                              <label for="city">City</label>
                              <label for="state">State</label>
                         </div>
                         <div class="label">
                              <input type="text" name="name">
                              <input type="text" name="city">
                              <input type="text" name="state">
                              <button>ADD</button>

                         </div>
                    </div>
               </form>
               <form action="addNinja" method="post">
                    {% csrf_token %}
                    <div class="card">
                         <div class="label">
                              <label for="firstName">First Name</label>
                              <label for="lastName">Last Name</label>
                              <label for="dojo">Dojo</label>
                         </div>
                         <div class="label">
                              <input type="text" name="firstName">
                              <input type="text" name="lastName">
                              <select name="dojooption">
                                   {% for x in dojo%}
                                        <option value={{x.id}}>{{x.name}}</option>
                                   {%endfor%}
                              </select>
                              <button>ADD</button>
                         </div>
               </form>

          </div>
     </div>
     <hr>
     <div class="preview">

          <h1>All the Dojos</h1>
          {%for i in dojo%}
               <p>Ninjas at {{i.name}}</p>
               {%for w in i.ninjas.all%}
                    <li>{{w.first_name}} {{w.last_name}} </li>
               {%endfor%}
          {%endfor%}

          

     </div>
     </div>
</body>

</html>