<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     {%load static%}
     <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

     <h1>welcome to GNG</h1>
     <p>guess a num from 1 to 100</p>
     
     <form action="process" method="post">
          {% csrf_token %}
          <input type="number" name="num" min="1" max="100" value="1">
          <button>make a guess</button>
          {%if {{request.session.message == 'you win'}} %}
          <div>your gusse </div>     
     </form>
</body>

</html>