<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>counter</title>
</head>

<body>
     <div>

          <h1> counter</h1>
          <h2>{{request.session.counter}}</h2>
          <h1>user counter</h1>
          <h2>{{request.session.counter1}}</h2>
          
          <button><a href="/destroy_session">clear</a></button>
          <button><a href="/add2">add2</a></button>
          
          <form action="/userIncrement" method="post">
               {% csrf_token %}
               <input type="number" min=1 value="1" name="userIncrement" >
               <button>userIncrement</button>
               
          </form>
     </div>


</body>

</html>