<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     {%load static%}
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
     <div class="previwe">

          <h1>
               TV show {{id.id}}
          </h1>
          <a href="./">goback</a>
     </div>
<h3>{{id.title}}</h3>
<h3>{{id.network}}</h3>
<h3>{{id.releaseDate}}</h3>
<h3>{{id.desc}}</h3>

<p>last updated {{id.updated_at}}</p>
<a href="showtoedit/{{id.id}}">Edit</a>
<a href="delete/{{id.id}}">Delete</a>
<div>

</div>
</body>

</html>