.container{
     display: flex;
     flex-direction: column;
     margin:  20px auto;
     width: 400px;
     /* border: 1px solid black; */
     
}
.container div {
     display: flex;
}
.s label {
     margin-left: 100px;
}
.s input{
     margin-left: 20px;

}
.container h1, textarea , button{
     margin-top: 10px;
} 

table tr,th,td {
     border: 1px solid gray;
}
.previwe{
     display: flex;
     justify-content: space-between;
}