<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">   
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>Actual visits: {{request.session.counter}}</p><br>
    <p>Number of visits : {{request.session.visits}}</p><br>
    <form action='/2' method='post'>
        {% csrf_token %}
    <button class='button'>+2</button> 
    </form>
    <form action='/destroy_session' method='post'>
        {% csrf_token %}
        <button class='button2'>reset</button> 
    </form>
    <form action='/num' method='post'>
        {% csrf_token %}
        <label for="quantity">Add visits:</label>
        <input type="number" id="quantity" name="quantity" min="1"> <br>
        <input type='submit'id='submit'>
    </form>
</body>
</html>