<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <h1>counterbyrefresh</h1>
     <p> {{count}}Times</p>
     <h1>counterbyfunctions</h1>
     <p> {{counter2}}Times</p>
     
<form action="/two" method="post">

     <button>increment by 2</button>
</form>

<form action="/batata" method="post">
     <button> clear</button>
</form>
<form action="/incremntbyuser" method="post">
     <input type="number" name ='inputuser' value='0' min="1">
     <button>incrementbyuser</button>
</form>
</body>

</html>